.external-container {
    max-width: 20%;
    height: 80%;
    border: 1px #555555 solid;
    border-radius: 10px;
    background-color: rgb(35, 35, 35);

    padding: 0rem 0.4rem;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    flex: 1;
}