.tool-container {
    width: 10%;
    height: 80%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    border: 1px #555555 solid;
    background-color: rgb(35, 35, 35);
    border-radius: 10px;
}